{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Llamkay - Trabajos{% endblock %}</title>
    
    <!-- CSS Global -->
    <link rel="stylesheet" href="{% static 'css/jobs/base_jobs.css' %}">
    
    <!-- CSS Específico por página -->
    {% block extra_css %}{% endblock %}
</head>
<body>
    {% block content %}{% endblock %}
    
    <!-- JavaScript Global -->
    <script src="{% static 'js/base.js' %}"></script>
    
    <!-- JavaScript Específico por página -->
    {% block extra_js %}{% endblock %}
</body>
</html>